body{
    color:#fff;
    background: #1f1f1f;
    font-family: 'Roboto', sans-serif;

}
form{
	text-align: center;
    margin:auto;
	width:50%;
}

.green{
    background-color: green;
}
#button{
    text-align: center;
    margin:0;
    border: 5px solid #ffdd00;
    border-radius:30px;
    padding:15px;
    font-size:50px;
    background:#aaa;
    
}
#button:hover{

    background: white;
}
.photo{
   height:360px;
    width:640px;
    background:white;
    border:5px solid #ffdd00;
}

a{color:#ffdd00;}
#podsumowanie{
    text-align: center;
}
.linia{
border-top:5px solid red;